// Widescreens
@include mediaXl {
    main {
        .icons {
            float:left;
            margin-top: 1rem;
            padding-left: 70px;
        }
        .site-link {
            float:right;
            margin-top: 20px;
            padding-right: 70px;
        }
        h1, h2, h3 {
            &.lg-heading {
                line-height:1;
                margin-bottom: 10px;
                padding-top: 35px;
            }
            &.sm-heading {
                margin-top:2rem;
            }
        }
        &#index {  
            .branding {
                float:left;
                padding-top: 30px;
                width:30%;
            }
            .portrait {
                width: 230px;
                height: 230px;
            }
            .clearfix {
                clear: both;
            }
        }
    }
}
// Desktops & Laptops
@include mediaLg {
    h1, h2, h3 {
        &.lg-heading {
            float:left;
            width:70%;
            font-size: 4.6rem;
            line-height:1.1;
            margin-bottom: 10px;
            padding-top: 30px;
        }
        &.sm-heading {
            margin-bottom:2rem;
            margin-top:2rem;
            padding: 0.2rem 1rem;
            background:rgba(lighten($primary-color, 8), 0.5);
            box-shadow: 0 0 10px #000;
        }
    }
    main {
        &#index {
            .branding {
                float:left;
                padding-top: 30px;
                width:30%;
            }
            .portrait {
                width: 170px;
                height: 170px;
            }
            .clearfix {
                clear: both;
            }
        }
    }
    // About page styles
    #about {
        h1{
            float:none;
        }
        .about-info {
    
            .bio-image {
                width:200px;
                height:200px;
            }
        }
    }

    // works page styles
    #work {
        h1{
            float:none;
        }
    }

    // works page styles
    #contact {
        h1{
            float:none;
        }
        .boxes {
            grid-template-areas:
            'address phone'
            'email web';
            grid-template-columns: repeat(2,1fr);
        }
    }
}

// Tablets & Small Laptops
@include mediaMd {
    h1, h2, h3 {
        &.lg-heading {
            font-size: 2.5rem;
            line-height: 1.1;
            margin-bottom: 1.5rem;
        }
        &.sm-heading {
            font-size: 1rem;
            padding: 0.2rem 0;
        }
    }

    main {
        padding: 2.5rem;
        align-items: center;
        text-align: center;
        .icons {
            margin-top: 2.5rem;
        }
        &#index {
            .branding {
                padding-top: 60px;
            }
            .portrait {
                width: 150px;
                height: 150px;
            }
        }
    }
    main#index h1 {
        margin-top:20px;
    }

    .menu { 
        &-branding, &-nav {
            float: none;
            width: 100%;
            min-height: 0;
        }
    
        &-nav {
            transform:translate3d(-100%, 100%, 0);
            height:70vh;
            &.show {
                transform:translate3d(0, 0, 0);
            }
        }
    
        &-branding {
            transform:translate3d(100%, -100%, 0);
            height:30vh;
    
            &.show{
                transform: translate3d(0, 0, 0);
            }
    
            .portrait {
                width: 100px;
                height: 100px;
            }
        }
        .nav-item {
            transform: translate3d(-600px, 100px, 0);
    
            &.show {
                transform: translate3d(0, 0, 0);
            }
        }
    
        .nav-link {
            font-size: 1.3rem;
            padding: 0.8rem 0;
        }
    }
    #about {
        h1{
            font-size:3rem;
            margin-top:60px;
        }
        h2 {
            margin-top: -20px;
            margin-left: 0;
            padding-bottom: 0;
        }
        .border {
            margin:auto;
            margin-top: -20px;
        }
        .about-info {
            grid-template-areas:
            'bioimage bioimage'
            'bio bio'
            'job1 job2'
            'job3 job4';
            grid-template-columns:repeat(2,1fr);
        }
    }

    #work {
        h1{
            font-size:3rem;
            margin-top:60px;
        }
        h2 {
            margin-top: -20px;
            margin-left: 0;
            padding-bottom: 0;
        }
        .border {
            margin:auto;
            margin-top: -20px;
        }
        .project-list {
            grid-template-areas:
            'bioimage bio'
            'job1 job2';
            grid-template-columns: repeat(2, 1fr);
        }
    }

    #contact {
        h1{
            font-size:3rem;
            margin-top:60px;
        }
        h2 {
            margin-top: -20px;
            margin-left: 0;
            padding-bottom: 0;
        }
        .border {
            margin:auto;
            margin-top: -20px;
        }
        .boxes {
            grid-template-areas:
            'address phone'
            'email web';
            grid-template-columns: 1fr 1fr;
        }
    }
}

// Mobile Phones
@include mediaSm {
    main {
        padding: 1.2rem;
    }
    main#index h1 {
        margin-top:10px;
    }
    #about {
        .about-info {
            grid-template-areas:
            'bioimage'
            'bio'
            'job1'
            'job2'
            'job3';
            grid-template-columns:1fr;
        }
    }
    #work {
        .project-list {
            grid-template-areas:
            'bioimage'
            'bio'
            'job1'
            'job2';
            grid-template-columns: 1fr;
        }
    }
    #contact {
        .boxes {
            grid-template-areas:
            'address'
            'phone'
            'email'
            'web';
            grid-template-columns: 1fr;
        }
    }
}